[*.cs]

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none

# IDE0065: Misplaced using directive
csharp_using_directive_placement = inside_namespace

# SA0001: XML comment analysis disabled
dotnet_diagnostic.SA0001.severity = none
